@media screen and (max-width: 882px) {

    .section-1{
        padding: 400px 60px 30px 60px;
        transition: all 0.5s ease;
        .sec-1-hero,.sec-1-hero-wrap{
            transition: all 0.5s ease; 
            width: 100%;
            height: 360px;
        }
        .sec-1-hero{
            background-position: center;
        }
        .sec-1-direction{
            right: 60px;
            top: 44%;
            transition: all 0.5s ease;
            img{
                width: 30px;
                height: 30px;
            }
        }
        .sec-1-heading-wrap{
            gap: 8px;
            margin-bottom: 24px;
            .sec-1-small-heading-wrap{
                gap: 12px;
                transition: all 0.5s ease;
                .text{
                    font-size: 20px;
                    transition: all 0.5s ease;
                    line-height: 28px;
                    font-weight: 600;
                    letter-spacing: 2px;
                }
                .line{}
            }
            .sec-1-main-heading{
                font-size: 36px;
                line-height: 40px;
                transition: all 0.5s ease;
                margin-bottom: 4px;
                span{
                    color: var(--a-main-color);
                }
            }
            .sec-1-content{
                width: 369px;
                font-size: 14px;
                transition: all 0.5s ease;
            }
        }
        .sec-1-button{
            width: 158px;
            height: 43px;
            font-size: 14px;
            transition: all 0.5s ease;
        }
    }
    header{
        padding: 0 60px 0 60px;
        .logo-header{
            color: white;
            transition: all 0.5s ease;

        }
        navbar{
            display: none;
        }
        .hamburger-bar{
            display: block;
        }
    }
}

@media screen and (max-width: 560px) {
    .section-1{
        padding: 430px 20px 45px 20px;
        transition: all 0.5s ease;
        .sec-1-hero,.sec-1-hero-wrap{
            transition: all 0.5s ease; 
            width: 100%;
            height: 394px;
        }
        .sec-1-hero{
            background-position: center;
        }
        .sec-1-direction{
            right: 20px;
            top: 51%;
            transition: all 0.5s ease;
            img{
                width: 30px;
                height: 30px;
            }
        }
        .sec-1-heading-wrap{
            gap: 8px;
            margin-bottom: 24px;
            .sec-1-small-heading-wrap{
                gap: 12px;
                transition: all 0.5s ease;
                .text{
                    font-size: 20px;
                    transition: all 0.5s ease;
                    line-height: 28px;
                    font-weight: 600;
                    letter-spacing: 2px;
                }
                .line{}
            }
            .sec-1-main-heading{
                font-size: 36px;
                line-height: 40px;
                transition: all 0.5s ease;
                margin-bottom: 4px;
                span{
                    color: var(--a-main-color);
                }
            }
            .sec-1-content{
                width: 247px;
                font-size: 14px;
                transition: all 0.5s ease;
            }
        }
        .sec-1-button{
            width: 158px;
            height: 43px;
            font-size: 14px;
            transition: all 0.5s ease;
        }
    }
    header{
        top: 20px;
        padding: 0 20px 0 20px;
        transition: all 0.5s ease;
        .logo-header{
            color: white;
            transition: all 0.5s ease;

        }
        navbar{
            display: none;
        }
        .hamburger-bar{
            display: block;
        }
    }
}