body{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

:root{
    --a-main-color: #4CAF50;
    --a-accent-color: #EBEBEB;
    --b-heading-color: #AFBDC4;
    --b-heading-color-2:#4B4B4B;
}


.section-1{
    background-color: #465564;
    padding: 206px 123px 204px 123px;
    position: relative;
    z-index: 1;
    .sec-1-heading-wrap{
        display: flex;
        flex-direction: column;
        gap: 27px;
        margin-bottom: 36px;
        .sec-1-small-heading-wrap{
            display: flex;
            align-items: center;
            gap: 30px;
            .text{
                font-family: 'Work Sans', sans-serif;
                font-weight: 600;
                font-size: 20px;
                line-height: 32px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: var(--b-heading-color);
            }
            .line{
                display: flex;   
            }
        }
        .sec-1-main-heading{
            font-weight: 700;
            font-size: 88px;
            line-height: 80px;
            color: white;
            z-index: 1;
            span{
                color: var(--a-main-color);
            }
        }
        .sec-1-content{
            width: 369px;
            font-family: 'Work Sans',sans-serif;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: var(--a-accent-color);
            z-index: 1;
            text-align: justify;
        }
    }
    
    .sec-1-hero-wrap{
        position: absolute;
        top: 0;
        right: 0;
        height: 818px;
        width: 930px;
        opacity: 30%;
        background-image: linear-gradient(to bottom, black, grey);

    }
    .sec-1-hero{
        background-image: url(/Asserts/Bg-hero.png);
        background-size: cover;
        width: 930px;
        height: 818px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;
    }
    .sec-1-direction{
        display: flex;
        gap: 16px;
        position: absolute;
        bottom: 30px;
        right: 130px;
        z-index: -1;
    }
    .sec-1-button{
        width: 206px;
        height: 60px;
        text-align: center;
        align-content: center;
        background-color: var(--a-main-color);
        color: white;font-family: Work Sans;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        position: relative;
        z-index: 10;
    }
}
header{
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 1180px;
    padding: 0 130px 0 130px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    .logo-header{
        font-weight: 800;
        font-size: 36px;
        letter-spacing: 4px;
        line-height: 46px;
        color: var(--a-main-color);
    }
    navbar{
        display: flex;
        flex-direction: row;
        gap: 30px;
        font-family: 'Work Sans', sans-serif;
        .nav-item-wrap{
            display: flex;
            flex-direction: row;
            gap: 70px;
            .nav-item{
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                color: var(--a-accent-color);
                align-content: center;
            }
        }
        .nav-button{
            width: 180px;
            height: 60px;
            background-color: var(--a-main-color);
            text-align: center;
            align-content: center;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            color: white;
        }
    }
    .hamburger-bar{
        display: none;
    }
}
.container-wrap{
    max-width: 1180px;
    margin: 0 auto;
    padding: 100px 0 80px 0;
    display: flex;
    flex-direction: column;
    gap: 100px;
    .section-2{
        display: flex;
        flex-direction: row;
        gap: 46px;

        .sec-2-left{
            position: relative;
            .heading-wrap{
                width: 617.5968017578125px;
                height: 686px;
                display: flex;
                flex-direction: column;
                gap: 10px;
                .heading-1{
                    font-family: 'Work Sans',sans-serif;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 44px;
                    color: var(--b-heading-color-2);
                    span{
                        color: var(--a-main-color);
                    }
                }
                .heading-2{
                    font-family: 'Work Sans', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: var(--b-heading-color-2);
                }
            }
            .sec-2-hero-wrap{
                
                .sec-2-hero{
                    position: absolute;
                    background-image: url(Asserts/sofa-hero.jpg);
                    background-size: cover;
                    border: 1px solid #C8E6C9;
                    width: 594.758056640625px;
                    height: 532px;
                    bottom: 32px;
                    z-index: 1;
                }
                .sec-2-hero-back{
                    position: absolute;
                    background-color: #C8E6C9;
                    width: 581.4354858398438px;
                    height: 536px;
                    bottom: 0;
                    right: 0;
                    z-index: -1;
                }
                .sec-2-direction{
                    display: flex;
                    gap: 16px;
                    position: absolute;
                    bottom: 14px;
                    right: 37px;
                    .sec-2-hero-arr--1,.sec-2-hero-arr--2{
                        z-index: 100000;
                        height: 60px;
                    }
                
                }
            }
        }
        .sec-2-right{
            display: flex;
            flex-direction: column;
            gap: 40px;
            .sec-2-item{
                display: flex;
                flex-direction: row;
                gap: 23px;
                .item-hero{
                    width: 192.22581481933594px;
                    height: 202px;
                }
                .item-hero-0,.item-hero-1,.item-hero-2{
                    background-size: cover;
                    background-position: center;
                }
                .item-hero-0{
                    background-image: url(Asserts/sofa-1.png);
                }
                .item-hero-1{
                    background-image: url(Asserts/sofa-2.jpg);
                }
                .item-hero-2{
                    background-image: url(Asserts/sofa-3.jpg);
                }
                .item-text{
                    max-width: 302px;
                    display: flex;
                    flex-direction: column;
                    gap: 68px;
                    .head-item{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        .heading{
                            font-family: 'Work Sans', sans-serif;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 32px;
                            letter-spacing: 3px;
                            color: var(--b-heading-color-2);
                        }
                        .text{
                            font-family: 'Work Sans', sans-serif;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                            color: var(--b-heading-color-2);
                        }
                    }
                    .readmore{
                    }
                }
                .spec-item-text{
                    gap: 48px;
                }
            }
        }
    }
}





/* RES DESKTOP */
@media screen and (max-width:1335px) {
    .section-1{
        .sec-1-hero,.sec-1-hero-wrap{
            transition: all 0.5s ease; 
            width: 780px;
            height: 818px;
        }
    }
    .container-wrap{
        max-width: 1070px;
        transition: all 0.5s ease;
        .section-2{
            display: flex;
            flex-direction: row;
            gap: 46px;

            .sec-2-left{
                position: relative;
                width: 540px;
                height: 609px;
                .heading-wrap{
                    transition: all 0.5s ease;
                    width: 517.758056640625px;
                    height: 455px;
                    .heading-1{
                        font-size: 36px;
                        line-height: 44px;
                        span{
                            color: var(--a-main-color);
                        }
                    }
                    .heading-2{
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
                .sec-2-hero-wrap{
                    /* width: 100%;
                    height: 100%; */
                    .sec-2-hero{
                        width: 517.758056640625px;
                        height: 455px;
                        bottom: 32px;
                        transition: all 0.5s ease;
                    }
                    .sec-2-hero-back{
                        width: 517.758056640625px;
                        height: 455px;
                        transition: all 0.5s ease;
                        bottom: 0;
                        right: 0;
                    }
                    .sec-2-direction{
                        display: flex;
                        gap: 16px;
                        position: absolute;
                        bottom: 14px;
                        right: 37px;
                        height: 40px;
                        transition: all 0.5s ease ;
                        img{
                            width: 40px;
                            height: 40px;
                        }
                
                    }
                }
            }
            .sec-2-right{
                display: flex;
                flex-direction: column;
                gap: 35px;
                .sec-2-item{
                    display: flex;
                    flex-direction: row;
                    gap: 23px;
                    .item-hero{
                        width: 175.22581481933594px;
                        height: 180px;
                        transition: all 0.5s ease;
                    }
                    .item-hero-0,.item-hero-1,.item-hero-2{
                        background-size: cover;
                    }
                    .item-hero-0{
                        background-image: url(Asserts/sofa-1.png);
                    }
                    .item-hero-1{
                        background-image: url(Asserts/sofa-2.jpg);
                    }
                    .item-hero-2{
                        background-image: url(Asserts/sofa-3.jpg);
                    }
                    .item-text{
                        max-width: 302px;
                        gap: 48px;
                        transition: all 0.5s ease;
                        .head-item{
                            gap: 10px;
                            .heading{
                                font-size: 24px;
                                line-height: 32px;
                            }
                            .text{
                                font-size: 16px;
                            }
                        }
                        .readmore{
                        }
                    }
                    .spec-item-text{
                        gap: 30px;
                        transition: all 0.5s ease;
                    }
                }
            }
        }
    }
}



@media screen and (max-width:1170px) {
    .section-1{
        padding: 206px 100px 204px 100px;
        transition: all 0.5s ease;
        .sec-1-hero,.sec-1-hero-wrap{
            transition: all 0.5s ease; 
            width: 690px;
            height: 818px;
        }
        .sec-1-direction{
            right: 100px;
            transition: all 0.5s ease;
        }
    }
    .container-wrap{
        max-width: 954px;
        transition: all 0.5s ease;
        .section-2{
            display: flex;
            flex-direction: row;
            gap: 30px;

            .sec-2-left{
                position: relative;
                width: 440px;
                height: 509px;
                .heading-wrap{
                    transition: all 0.5s ease;
                    .heading-1{
                        font-size: 36px;
                        line-height: 44px;
                        span{
                            color: var(--a-main-color);
                        }
                    }
                    .heading-2{
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
                .sec-2-hero-wrap{
                    /* width: 100%;
                    height: 100%; */
                    .sec-2-hero{
                        width: 417.758056640625px;
                        height: 355px;
                        bottom: 32px;
                        transition: all 0.5s ease;
                    }
                    .sec-2-hero-back{
                        width: 417.758056640625px;
                        height: 355px;
                        transition: all 0.5s ease;
                        bottom: 0;
                        right: 0;
                    }
                }
            }
            .sec-2-right{
                display: flex;
                flex-direction: column;
                gap: 25px;
                .sec-2-item{
                    display: flex;
                    flex-direction: row;
                    gap: 18px;
                    .item-hero{
                        width: 164px;
                        height: 153px;
                        transition: all 0.5s ease;
                    }
                    .item-hero-0,.item-hero-1,.item-hero-2{
                        background-size: cover;
                    }
                    .item-hero-0{
                        background-image: url(Asserts/sofa-1.png);
                    }
                    .item-hero-1{
                        background-image: url(Asserts/sofa-2.jpg);
                    }
                    .item-hero-2{
                        background-image: url(Asserts/sofa-3.jpg);
                    }
                    .item-text{
                        max-width: 302px;
                        gap: 25px;
                        transition: all 0.5s ease;
                        .head-item{
                            gap: 10px;
                            .heading{
                                font-size: 24px;
                                line-height: 32px;
                            }
                            .text{
                                font-size: 16px;
                            }
                        }
                        .readmore{
                        }
                    }
                    .spec-item-text{
                        gap: 8px;
                        transition: all 0.5s ease;
                    }
                }
            }
        }
    }

    header{
        padding: 0 100px 0 100px;
        transition: all 0.5s ease;
        .logo-header{}
        navbar{
            .nav-item-wrap{
                gap: 40px;
                transition: all 0.5s ease;
                .nav-item{}
            }
            .nav-button{}
        }
    }
}



/* TABLET */
@media screen and (max-width:1060px) {
    .section-1{
        padding: 170px 80px 140px 80px;
        transition: all 0.5s ease;
        .sec-1-hero,.sec-1-hero-wrap{
            transition: all 0.5s ease; 
            width: 690px;
            height: 718px;
        }
        .sec-1-direction{
            right: 80px;
            transition: all 0.5s ease;
        }
        .sec-1-heading-wrap{
            gap: 27px;
            margin-bottom: 36px;
            .sec-1-small-heading-wrap{
                gap: 20px;
                transition: all 0.5s ease;
                .text{
                    font-size: 17px;
                    transition: all 0.5s ease;
                    line-height: 32px;
                    letter-spacing: 2px;
                }
                .line{}
            }
            .sec-1-main-heading{
                font-size: 68px;
                transition: all 0.5s ease;
                span{
                    color: var(--a-main-color);
                }
            }
            .sec-1-content{
                width: 369px;
                font-size: 15px;
                transition: all 0.5s ease;
            }
        }
        .sec-1-button{
            width: 206px;
            height: 60px;
            font-size: 18px;
        }
    }
    header{
        padding: 0 80px 0 80px;
        transition: all 0.5s ease;
        .logo-header{}
        navbar{
            .nav-item-wrap{
                gap: 40px;
                transition: all 0.5s ease;
                .nav-item{}
            }
            .nav-button{}
        }
    }

    .container-wrap{
        max-width: 750px;
        transition: all 0.5s ease;
        .section-2{
            display: flex;
            flex-direction: row;
            gap: 30px;

            .sec-2-left{
                position: relative;
                width: 360px;
                height: 414px;
                .heading-wrap{
                    transition: all 0.5s ease;
                    .heading-1{
                        font-size: 36px;
                        line-height: 44px;
                        span{
                            color: var(--a-main-color);
                        }
                    }
                    .heading-2{
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
                .sec-2-hero-wrap{
                    .sec-2-hero{
                        width: 317.758056640625px;
                        height: 255px;
                        bottom: 32px;
                        transition: all 0.5s ease;
                    }
                    .sec-2-hero-back{
                        width: 317.758056640625px;
                        height: 255px;
                        transition: all 0.5s ease;
                        bottom: 0;
                        right: 0;
                    }
                    .sec-2-direction{
                        transition: all 0.5s ease ;
                        right: 60px;
                        bottom: 10px;
                        gap: 10px;
                        img{
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
            .sec-2-right{
                display: flex;
                flex-direction: column;
                gap: 8px;
                .sec-2-item{
                    display: flex;
                    flex-direction: row;
                    gap: 12px;
                    .item-hero{
                        width: 140px;
                        height: 133px;
                        transition: all 0.5s ease;
                    }
                    .item-hero-0,.item-hero-1,.item-hero-2{
                        background-size: cover;
                    }
                    .item-hero-0{
                        background-image: url(Asserts/sofa-1.png);
                    }
                    .item-hero-1{
                        background-image: url(Asserts/sofa-2.jpg);
                    }
                    .item-hero-2{
                        background-image: url(Asserts/sofa-3.jpg);
                    }
                    .item-text{
                        max-width: 232px;
                        gap: 28px;
                        transition: all 0.5s ease;
                        .head-item{
                            gap: 5px;
                            .heading{
                                font-size: 16px;
                                line-height: 20px;
                            }
                            .text{
                                font-size: 12px;
                            }
                        }
                        .readmore{
                            transform: scale(0.7);
                            margin-left: -40px;
                            height: 20px;
                        }
                    }
                    .spec-item-text{
                        gap: 8px;
                        transition: all 0.5s ease;
                    }
                }
            }
        }
    }
}