body {
    padding: 0;
    margin: 0;
    font-family: "Work Sans", sans-serif;
    box-sizing: border-box;
}

:root{
    --a-main-color: #4CAF50;
    --a-accent-color: #EBEBEB;
    --b-heading-color: #AFBDC4;
    --b-heading-color-2:#4B4B4B;
}


.section-1{
    background-color: #465564;
    padding: 206px 123px 204px 123px;
    position: relative;
    z-index: 1;
    .sec-1-container{
        display: flex;
        flex-direction: column;
        gap: 36px;
        max-width: 1180px;
        margin: 0 auto;
        .sec-1-heading-wrap{
            display: flex;
            flex-direction: column;
            gap: 27px;
            /* margin-bottom: 36px; */
            .sec-1-small-heading-wrap{
                display: flex;
                align-items: center;
                gap: 30px;
                .text{
                    font-family: 'Work Sans', sans-serif;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 32px;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    color: #FEFEFF;
                }
                .line{
                    display: flex;   
                }
            }
            .sec-1-main-heading{
                font-weight: 700;
                font-size: 79px;
                line-height: 80px;
                color: white;
                z-index: 1;
                span{
                    color: var(--a-main-color);
                }
            }
            .sec-1-content{
                width: 369px;
                font-family: 'Work Sans',sans-serif;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: var(--a-accent-color);
                z-index: 1;
                text-align: justify;
            }
        }
        .sec-1-button{
            width: 206px;
            height: 60px;
            text-align: center;
            align-content: center;
            background-color: var(--a-main-color);
            color: white;font-family: Work Sans;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            position: relative;
            z-index: 10;
        }
    }

    .sec-1-hero-wrap{
        position: absolute;
        top: 0;
        right: 0;
        height: 818px;
        width: 930px;
        opacity: 30%;
        background-image: linear-gradient(to bottom, black, grey);

    }
    .sec-1-hero{
        background-image: url(/Asserts/Bg-hero.png);
        background-size: cover;
        width: 930px;
        height: 818px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;
    }
    .sec-1-direction{
        display: flex;
        gap: 16px;
        position: absolute;
        bottom: 30px;
        right: 130px;
        z-index: 100;
    }
    
}
header{
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 1180px;
    padding: 0 130px 0 130px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    .logo-header{
        font-weight: 800;
        font-size: 36px;
        letter-spacing: 6px;
        line-height: 46px;
        font-family: 'Roboto';
        color: var(--a-main-color);
    }
    navbar{
        display: flex;
        flex-direction: row;
        gap: 30px;
        font-family: 'Work Sans', sans-serif;
        .nav-item-wrap{
            display: flex;
            flex-direction: row;
            gap: 70px;
            .nav-item{
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                color: var(--a-accent-color);
                align-content: center;
            }
            .active{
                color: #FFFFFF
            }
        }
        .nav-button{
            width: 180px;
            height: 60px;
            background-color: var(--a-main-color);
            text-align: center;
            align-content: center;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            color: white;
        }
    }
    .hamburger-bar{
        display: none;
    }
}



.container {
    margin-top: 100px;
    margin-bottom: 82px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    align-items: center;
    .section2 {
        display: flex;
        flex-direction: row;
        gap: 46px;
        width: 95%;
        max-width: 1180px;
        .left {
            display: flex;
            flex-direction: column;
            gap: 48px;
            .information {
                display: flex;
                flex-direction: column;
                gap: 10px;
                .title {
                    color: #4B4B4B;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 44px;
                    span {
                        color: #4CAF50;
                        font-weight: 700;
                        font-size: 36px;
                        line-height: 44px;
                    }
                }
            }
            .picture {
                display: flex;
                position: relative;
                width: 613.6px;
                height: 564px;
                .back {
                    backdrop-filter: blur(4px);
                    background: #C8E6C9;
                    width: 581.4354858398438px;
                    height: 536px;
                    display: flex;
                    position: absolute;
                    z-index: 1;
                    bottom: 0;
                    right: 0;
                }
                .img1 {
                    box-shadow: 0px 4px 30px 0px #0000001A;
                    width: 594.758056640625px;
                    height: 532px;
                    display: flex;
                    position: absolute;
                    z-index: 2;
                    top: 0;
                    left: 0;
                    border: 1px solid #C8E6C9;
                    img {
                        width: 594.758056640625px;
                        height: 532px;
                    }
                }
                .img2 {
                    width: 136px;
                    height: 60px;
                    display: flex;
                    position: absolute;
                    z-index: 3;
                    bottom: 14px;
                    right: 37.6px;
                }
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            gap: 40px;
            width: 520.725830078125px;
            .box {
                display: flex;
                flex-direction: row;
                gap: 22.84px;
                img {
                    width: 192.22581481933594px;
                    height: 202px;
                }
                .text {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    .top {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        .title {
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 32px;
                            color: #4B4B4B;
                        }
                        .dicript {
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                            text-align: justify;
                            color: #4B4B4B;
                            width: 309px;
                        }
                    }
                    .bottom {
                        height: 22px;
                        display: flex;
                        flex-direction: row;
                        gap: 24px;
                        align-items: center;
                        .text {
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 22px;
                            color: #4B4B4B;
                        }
                        img {
                            margin-top: 2px;
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
    .section3 {
        display: flex;
        flex-direction: column;
        width: 95%;
        max-width: 1180px;
        .title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            max-width: 1180px;
            .text {
                font-weight: 700;
                font-size: 36px;
                line-height: 44px;
                color: #4CAF50;
                span {
                    color: #4B4B4B;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 44px;
                }
            }
            .action {
                display: flex;
                flex-direction: row;
                gap: 24px;
                align-items: center;
                .inf {
                    color: #4B4B4BB0;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                }
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .nav {
            display: flex;
            flex-direction: row;
            gap: 24px;
            margin-top: 24px;
            margin-bottom: 48px;
            .text1 {
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                color: #4B4B4B;
            }
            .text {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #4B4B4B;
                opacity: 70%;
            }
        }
        .list {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: center;
            .box {
                position: relative;
                display: flex;
                flex-direction: column;
                width: 280px;
                height: 400px;
                background: #C8E6C9;
                padding-left: 24px;
                box-sizing: border-box;
                .information {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 32px;
                    width: 237px;
                    .item1 {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                        .name {
                            color: #3333334D;
                            font-weight: 700;
                            font-size: 14px;
                        }
                        .material {
                            color: #4B4B4B;
                            font-weight: 700;
                            font-size: 16px;
                            width: auto;
                        }
                    }
                    .item2 {
                        img {
                            width: 39px;
                            height: 36px;
                        }
                    }
                }
                .img6 {
                    width: 159px;
                    height: 238px;
                    display: flex;
                    position: absolute;
                    top: 112px;
                    right: 24px;
                }
                .img7 {
                    width: 159px;
                    height: 238px;
                    display: flex;
                    position: absolute;
                    top: 94px;
                    right: 19px;
                }
                .img8 {
                    width: 237px;
                    height: 288px;
                    display: flex;
                    position: absolute;
                    top: 112px;
                    right: 8px;
                }
                .img9 {
                    width: 246px;
                    height: 290px;
                    display: flex;
                    position: absolute;
                    top: 85px;
                    right: 0px;
                }
                .gia {
                    backdrop-filter: blur(4px);
                    background: #FFFFFF73;
                    width: 128px;
                    height: 44px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #4CAF50;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 20px;
                    position: absolute;
                    bottom: 24px;
                    left: 24px;
                }
            }
        }
    }
    .section4 {
        display: flex;
        flex-direction: row;
        width: 95%;
        max-width: 1180px;
        gap: 56px;
        .left {
            width: 500px;
            display: flex;
            flex-direction: column;
            .title {
                font-weight: 700;
                font-size: 36px;
                line-height: 44px;
                color: #181818;
                span {
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 44px;
                    color: #4CAF50;
                }
            }
            .discript {
                color: #313131;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                text-align: justify;
                margin-top: 14px;
                margin-bottom: 55px;
            }
            .form {
                display: flex;
                flex-direction: column;
                gap: 19px;
                input::placeholder {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: #ABABAB;
                    font-family: "Work Sans", sans-serif;
                }
                .name {
                    display: flex;
                    flex-direction: row;
                    gap: 19.89px;
                    .fistname {
                        width: 240px;
                        height: 54px;
                        background: #F6F6F6;
                        border: 2px solid #4CAF50;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                        color: #ABABAB;
                        padding-left: 16px;
                        box-sizing: border-box;
                        align-items: center;
                        display: flex;
                        
                    }
                }
                .email {
                    width: auto;
                    height: 54px;
                    background: #F6F6F6;
                    border: 2px solid #4CAF50;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: #ABABAB;
                    padding-left: 16px;
                    box-sizing: border-box;
                    align-items: center;
                    display: flex;
                }
                .phone {
                    width: auto;
                    height: 54px;
                    background: #F6F6F6;
                    border: 2px solid #4CAF50;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: #ABABAB;
                    padding-left: 16px;
                    box-sizing: border-box;
                    align-items: center;
                    display: flex;
                }
                .message {
                    width: auto;
                    height: 89px;
                    background: #F6F6F6;
                    border: 2px solid #4CAF50;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: #ABABAB;
                    padding-left: 16px;
                    padding-top: 17px;
                    box-sizing: border-box;
                    display: flex;
                }
                .send {
                    background: #4CAF50;
                    width: 187px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #FFFFFF;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }
        .right {
            display: flex;
            position: relative;
            width: 621.5584106445312px;
            height: 564px;
            .back {
                display: flex;
                position: absolute;
                z-index: 1;
                bottom: 0;
                left: 0;
                width: 577.096435546875px;
                height: 532px;
                backdrop-filter: blur(4px);
                background: #C8E6C9;
            }
            .img1 {
                display: flex;
                position: absolute;
                box-sizing: border-box;
                z-index: 2;
                top: 0;
                right: 0;
                width: 594.76px;
                height: 532px;
                backdrop-filter: blur(4px);
                border: 1px solid #C8E6C9;
                box-shadow: 0px 4px 30px 0px #0000001A;
            }
        }
    }
    .section5 {
        display: flex;
        flex-direction: column;
        gap: 65px;
        width: 95%;
        max-width: 1180px;
        .title {
            color: #4CAF50;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            span {
                font-weight: 700;
                font-size: 36px;
                line-height: 44px;
                color: #000000;
            }
        }
        .list {
            display: flex;
            flex-wrap: wrap;
            gap: 34px;
            justify-content: center;
            position: relative;
            .left,.right{
                position: absolute;
            }
            .left{
                left: 0;
                top: 45%;
            }
            .right{
                right: 0;
                top: 45%;
            }
            .box1{
                display: flex;
                position: relative;
                width: 325px;
                height: 348px;
                .back {
                    width: 325px;
                    height: 276px;
                    background: #F6F6F6;
                    border: 1px solid #C8E6C9;
                    box-shadow: 0px 4px 30px 0px #0000001A;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    gap: 24px;
                    align-items: center;
                    top: 0;
                    box-sizing: border-box;
                    padding-top: 50px;
                    border-radius: 8px;
                    img {
                        width: 24px;
                        height: 24px;
                    }
                    .text {
                        width: 240px;
                        height: 88px;
                        color: #2D2E2E;
                        font-family: Inter;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 22px;
                        text-align: center;
                    }
                }
                .e {
                    background: #C8E6C9;
                }
                .front {
                    flex-direction: column;
                    gap: 8px;
                    width: 90px;
                    height: 117px;
                    display: flex;
                    position: absolute;
                    z-index: 2px;
                    bottom: 0;
                    left: 117.5px;
                    img {
                        width: 90px;
                        height: 90px;
                    }
                    .text {
                        color: #2D2E2E;
                        font-family: Inter;
                        font-weight: 600;
                        font-style: Semi Bold;
                        font-size: 16px;
                        leading-trim: NONE;
                        line-height: 100%;
                        letter-spacing: 0%;

                    }
                }
            }
            .c,.b{
                opacity: 80%;
            }
        }
    }
}
.footer {
    width: 100%;
    height: 264px;
    background: #465564;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .frame1 {
        width: 95%;
        max-width: 1180px;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
            display: flex;
            flex-direction: column;
            gap: 3px;
            width: 535px;
            height: auto;
            .title {
                color: #4CAF50;
                font-weight: 700;
                font-size: 36px;
                line-height: 44px;
                span {
                    color: #FEFEFF;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 44px;
                }
            }
            .discript {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                display: flex;
                color: #FEFEFF;
            }
        }
        .right {
            display: flex;
            input::placeholder {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #ABABAB;
                font-family: "Work Sans", sans-serif;
            }
            .email {
                width: 319px;
                height: 56px;
                background: #F6F6F6;
                border: 2px solid #4CAF50;
                display: flex;
                align-items: center;
                font-family: Work Sans;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #ABABAB;
                box-sizing: border-box;
                padding-left: 16px;
            }
            .act {
                background: #4CAF50;
                width: 154px;
                height: 56px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #FFFFFF;
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
    .line {
        width: 95%;
        max-width: 1180px;
        margin-top: 23px;
        margin-bottom: 23px;
        box-sizing: border-box;
        background-color:#4caf50;
        height: 2px;
    }
    .frame2 {
        width: 95%;
        max-width: 1180px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .logo {
            color: #4CAF50;
            font-family: Roboto;
            font-weight: 800;
            font-size: 36px;
            line-height: 46px;
            letter-spacing: 8px;
        }
        .nav {
            display: flex;
            flex-direction: row;
            width: 331px;
            justify-content: space-between;
            div {
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                color: #FEFEFF;
            }
        }
        .social {
            width: 150px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .img {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}


/* RES DESKTOP */
@media screen and (max-width:1335px) {
    .section-1{
        .sec-1-hero,.sec-1-hero-wrap{
            transition: all 0.5s ease; 
            width: 780px;
            height: 818px;
        }
    }
   
}



@media screen and (max-width:1170px) {
    .section-1{
        padding: 206px 100px 204px 100px;
        transition: all 0.5s ease;
        .sec-1-hero,.sec-1-hero-wrap{
            transition: all 0.5s ease; 
            width: 690px;
            height: 818px;
        }
        .sec-1-direction{
            right: 100px;
            transition: all 0.5s ease;
        }
    }
   

    header{
        padding: 0 100px 0 100px;
        transition: all 0.5s ease;
        .logo-header{}
        navbar{
            .nav-item-wrap{
                gap: 40px;
                transition: all 0.5s ease;
                .nav-item{}
            }
            .nav-button{}
        }
    }
}



/* TABLET */
@media screen and (max-width:1060px) {
    .section-1{
        padding: 170px 80px 140px 80px;
        transition: all 0.5s ease;
        .sec-1-hero,.sec-1-hero-wrap{
            transition: all 0.5s ease; 
            width: 690px;
            height: 718px;
        }
        .sec-1-direction{
            right: 80px;
            transition: all 0.5s ease;
        }
        .sec-1-heading-wrap{
            gap: 27px;
            margin-bottom: 36px;
            .sec-1-small-heading-wrap{
                gap: 20px;
                transition: all 0.5s ease;
                .text{
                    font-size: 17px;
                    transition: all 0.5s ease;
                    line-height: 32px;
                    letter-spacing: 2px;
                }
                .line{}
            }
            .sec-1-main-heading{
                font-size: 68px;
                transition: all 0.5s ease;
                span{
                    color: var(--a-main-color);
                }
            }
            .sec-1-content{
                width: 369px;
                font-size: 15px;
                transition: all 0.5s ease;
            }
        }
        .sec-1-button{
            width: 206px;
            height: 60px;
            font-size: 18px;
        }
    }
    header{
        padding: 0 80px 0 80px;
        transition: all 0.5s ease;
        .logo-header{}
        navbar{
            .nav-item-wrap{
                gap: 40px;
                transition: all 0.5s ease;
                .nav-item{}
            }
            .nav-button{}
        }
    }


}